<div>
  <div class="col-md-6">
    <div class="col-md-12" style="padding: 5px 0px;">
      <img style="width:100%;" ng-if="meme.template" normal-image="{{meme | getTemplateFirstFrameImageUrl}}" hover-image="{{meme | getTemplateAllFramesImageUrl}}"></img>
    </div>
  </div>
  <div class="col-md-6">
    <form novalidate class="form-horizontal">
      <div class="form-group">
        <label for="memeSelect" class="col-sm-4 control-label">Template</label>
        <div class="col-sm-8">
          <ui-select ng-model="templateTyped"
                     on-select="changeTemplate($item, $model)"
                     theme="bootstrap"
                     reset-search-input="false"
                     style="width: 300px;">
            <ui-select-match placeholder="Choose a template...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="template in templates track by $index"
                               refresh="refreshTemplates($select.search)"
                               refresh-delay="0">
              <div ng-bind-html="template.name | highlight: $select.search | trust"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="form-group" ng-if="templateSelected">
        <label for="contextInput" class="col-sm-4 control-label">Top</label>
        <div class="col-sm-8">
          <textarea
             class="form-control"
             rows="3"
             ng-model="$parent.topContent"
             ng-model-options="{ debounce: 500 }">
          </textarea>
        </div>
        <label for="contextInput" class="col-sm-4 control-label">&nbsp;</label>
        <div class="col-sm-8" style="text-align: center;">
          <button type="button" ng-class="getAlignClass(0,'left')" ng-click="setAlign(0,'left')">
            <span class="glyphicon glyphicon-align-left"></span>
          </button>
          <button type="button" ng-class="getAlignClass(0,'center')" ng-click="setAlign(0,'center')">
            <span class="glyphicon glyphicon-align-center"></span>
          </button>
          <button type="button" ng-class="getAlignClass(0,'right')" ng-click="setAlign(0,'right')">
            <span class="glyphicon glyphicon-align-right"></span>
          </button>
        </div>
      </div>

      <div class="form-group" ng-if="templateSelected">
        <label for="contextInput" class="col-sm-4 control-label">Middle</label>
        <div class="col-sm-8">
          <textarea
             class="form-control"
             rows="3"
             ng-model="$parent.middleContent"
             ng-model-options="{ debounce: 500 }">
          </textarea>
        </div>
        <label for="contextInput" class="col-sm-4 control-label">&nbsp;</label>
        <div class="col-sm-8" style="text-align: center;">
          <button type="button" ng-class="getAlignClass(1,'left')" ng-click="setAlign(1,'left')">
            <span class="glyphicon glyphicon-align-left"></span>
          </button>
          <button type="button" ng-class="getAlignClass(1,'center')" ng-click="setAlign(1,'center')">
            <span class="glyphicon glyphicon-align-center"></span>
          </button>
          <button type="button" ng-class="getAlignClass(1,'right')" ng-click="setAlign(1,'right')">
            <span class="glyphicon glyphicon-align-right"></span>
          </button>
        </div>
      </div>

      <div class="form-group" ng-if="templateSelected">
        <label for="contextInput" class="col-sm-4 control-label">Bottom</label>
        <div class="col-sm-8">
          <textarea
             class="form-control"
             rows="3"
             ng-model="$parent.bottomContent"
             ng-model-options="{ debounce: 500 }">
          </textarea>
        </div>
        <label for="contextInput" class="col-sm-4 control-label">&nbsp;</label>
        <div class="col-sm-8" style="text-align: center;">
          <button type="button" ng-class="getAlignClass(2,'left')" ng-click="setAlign(2,'left')">
            <span class="glyphicon glyphicon-align-left"></span>
          </button>
          <button type="button" ng-class="getAlignClass(2,'center')" ng-click="setAlign(2,'center')">
            <span class="glyphicon glyphicon-align-center"></span>
          </button>
          <button type="button" ng-class="getAlignClass(2,'right')" ng-click="setAlign(2,'right')">
            <span class="glyphicon glyphicon-align-right"></span>
          </button>
        </div>
      </div>

      <div class="form-group" ng-if="templateSelected">
        <label for="contextInput" class="col-sm-4 control-label">Context</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="contextInput" placeholder="URL with context" ng-model="meme.context">
        </div>
      </div>
      <div class="form-group" ng-if="templateSelected">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-default" ng-click="createMeme()">Create Meme</button>
        </div>
      </div>
    </form>
  </div>
</div>
