<div>
  <div masonry reload-on-show ng-show="showGallery">
    <div ng-repeat="meme in memes" class="masonry-brick col-xs-12 col-sm-4">
      <div class="col-xs-12" style="padding: 5px 0px;">
        <a ng-href="/#/meme/{{meme._id}}">
          <img style="width:100%;" ng-if="meme.template" normal-image="{{meme | getMemeFirstFrameImageUrl}}" hover-image="{{meme | getMemeAllFramesImageUrl}}"></img>
        </a>
      </div>
      <div class="centerMargin">
        <div style="display:inline-block;">
          <small><strong>{{getUserFullName(meme.creatorId)}}</strong></small>
        </div>
        <div style="display:inline-block;">
          <div ng-style="{'display':'inline-block', 'background-color':voteColor(meme), 'color':'white', 'border-radius': '10px'}">
            <a href="" ng-click="vote(meme._id, false)" style="text-decoration: none;">
              <span class="glyphicon glyphicon-minus" ng-style="{'color': 'white', 'padding' : '0px 2px'}" aria-label="votedown"></span>
            </a>
            <strong ng-style="{'color': 'white', 'padding' : '0px 2px', 'width':'30px'}">{{(meme.numVotes)}}</strong>
            <a href="" ng-click="vote(meme._id, true)" style="text-decoration: none;">
              <span class="glyphicon glyphicon-plus" ng-style="{'color': 'white', 'padding' : '0px 2px'}" aria-label="voteup"></span>
            </a>
          </div>
          <a href="" ng-click="createEmbeddedHtml(meme._id)" style="text-decoration: none;">
            <span class="glyphicon glyphicon-copy" ng-style="{'padding' : '0px 2px'}" aria-label="copylink"></span>
          </a>
          <a ng-if="meme.context" ng-href="{{meme.context | addHttpToUrl}}" style="text-decoration: none;">
            <span class="glyphicon glyphicon-link" ng-style="{'padding' : '0px 2px'}" aria-label="copylink"></span>
          </a>
          <span class="glyphicon glyphicon-film" ng-if="meme.template.animated" ng-style="{'padding' : '0px 2px'}" aria-label="copylink"></span>
          <a href="" ng-if="createdByMyself(meme)" ng-click="deleteMeme(meme._id)" style="text-decoration: none;">
            <span class="glyphicon glyphicon-remove" ng-style="{'padding' : '0px 2px', 'color' : 'red'}" aria-label="removememe"></span>
          </a>
        </div>
      </div>
      <div style="height:50px"></div>
    </div>
  </div>
</div>
