<title>Meme Generator</title>

<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="/bower_components/bootstrap-select/bootstrap-select.css" rel="stylesheet">
<link href="/css/bootstrap-paper.css" rel="stylesheet">

<link href="/bower_components/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet">
<link href="/bower_components/hopscotch/dist/css/hopscotch.css" rel="stylesheet">
<link href="/bower_components/highlightjs/styles/default.css" rel="stylesheet">
<link href="/bower_components/filedrop/filedrop.css" rel="stylesheet">
<link href="/bower_components/angular-ui-select/dist/select.css" rel="stylesheet">

<link href="/css/abn_tree.css" rel="stylesheet">
<link href="/css/footer.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<link href="/css/stylesheet.css" rel="stylesheet">

<!-- Adjust scale for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- set options before less.js script -->
<script>
  less = {
    env: "development"
  };
</script>
<script src="/bower_components/less/dist/less-1.7.5.min.js" type="text/javascript"></script>

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js">
</script>
<script src="/bower_components/jquery-bridget/jquery.bridget.js"></script>
<script src="/bower_components/get-style-property/get-style-property.js"></script>
<script src="/bower_components/get-size/get-size.js"></script>
<script src="/bower_components/eventEmitter/EventEmitter.js"></script>
<script src="/bower_components/eventie/eventie.js"></script>
<script src="/bower_components/doc-ready/doc-ready.js"></script>
<script src="/bower_components/matches-selector/matches-selector.js"></script>
<script src="/bower_components/outlayer/item.js"></script>
<script src="/bower_components/outlayer/outlayer.js"></script>
<script src="/bower_components/masonry/masonry.js"></script>
<script src="/bower_components/imagesloaded/imagesloaded.js"></script>


<script src="/js/errorlogging.js"></script>

<script src="/bower_components/angular/angular.js">
</script>
<script src="/bower_components/angular-animate/angular-animate.js">
</script>
<script src="/bower_components/angular-route/angular-route.js">
</script>
<script src="/bower_components/angular-masonry/angular-masonry.js">
</script>
<script src="/bower_components/angular-ui-select/dist/select.js">
</script>
<script src="/otherjs/angular-bootstrap-nav-tree/dist/abn_tree_directive.js">
</script>
<script src="/bower_components/angular-error-shipper/dist/angular-error-shipper.js">
</script>
<script src="/bower_components/angular-scroll-glue/src/scrollglue.js">
</script>

<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js">
</script>

<script type="text/javascript" src="/bower_components/sifter/sifter.js">
</script>
<script type="text/javascript" src="/bower_components/microplugin/src/microplugin.js">
</script>
<script type="text/javascript" src="/bower_components/selectize/dist/js/selectize.js">
</script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js">
</script>
<script type="text/javascript" src="/bower_components/lodash/dist/lodash.js">
</script>
<script type="text/javascript" src="/bower_components/bootstrap-select/bootstrap-select.js">
</script>
<script type="text/javascript" src="/bower_components/moment/moment.js">
</script>
<script type="text/javascript" src="/bower_components/stacktrace-js/dist/stacktrace.js">
</script>

<script type="text/javascript" src="/bower_components/filedrop/filedrop.js">
</script>

<script type="text/javascript" src="/bower_components/google-diff-match-patch-js/diff_match_patch_uncompressed.js">
</script>
<script type="text/javascript" src="/bower_components/FileSaver/FileSaver.js">
</script>

<script type="text/javascript" src="/bower_components/gremlins.js/gremlins.min.js">
</script>

<script type="text/javascript" src="/bower_components/highlightjs/highlight.pack.js"></script>
<script type="text/javascript" src="/bower_components/marked/lib/marked.js">
</script>
<script type="text/javascript" src="/bower_components/validator-js/validator.js"></script>
<script type="text/javascript" src="/bower_components/hopscotch/dist/js/hopscotch.min.js">
</script>

<script type="text/javascript">
  hljs.initHighlightingOnLoad();
  // Synchronous highlighting with highlight.js
  marked.setOptions({
    highlight: function (code) {
      return hljs.highlightAuto(code).value;
    }
  });
</script>

<script type="text/javascript" src="/bower_components/Autolinker.js/dist/Autolinker.js"></script>
<script type="text/javascript" src="/bower_components/bower-webfontloader/webfont.js"></script>
<script type="text/javascript" src="/bower_components/levenshtein/lib/levenshtein.js"></script>
<script type="text/javascript" src="/bower_components/js-base64/base64.js"></script>
<script type="text/javascript" src="/bower_components/async/lib/async.js"></script>

<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/globalState.js"></script>
<script type="text/javascript" src="/js/dataCache.js"></script>
<script type="text/javascript" src="/js/exceptionhandler.js"></script>
<script type="text/javascript" src="/js/alert.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/retry.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="/js/register.js"></script>
