<div>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="#/creatememe">Create Meme</a></li>
    <li role="presentation" class="active"><a href="#/recent">Most Recent</a></li>
    <li role="presentation"><a href="#/top/weekly">Top Weekly</a></li>
    <li role="presentation"><a href="#/top/alltime">All-Star</a></li>
  </ul>
</div>
